<div class="row">
	<div class="col-lg-6">
		<ul>
			{{ #each burgers }}
				<li>
					{{ #if this.devoured }}
						<p>
							{{this.id}}. {{this.name}}
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="id" value="{{this.id">
								<button type="submit">Devour!</button>
							</form>
						</p>
				</li>
		</ul>
	</div>
	<!-- <div class="col-lg-6">
		<ul>
			{{ #each burgers }}
				<li>
					{{ #unless this.devoured }}
						<p>
							{{this.id}}. {{this.name}}
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="id" value="{{this.id">
								<button type="submit">Devour!</button>
							</form>
						</p>
				</li>
		</ul>
	</div> -->
</div>